<h1>Einloggen</h1>
<%= form_for :user, url: users_path do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Einloggen'%>
  </p>
<% end %>