<h1>Create new User</h1>
<%= form_for :user, url: users_path do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_wiederholen %><br>
    <%= f.password_field :password_confirmation %>
  </p>
 
  <p>
    <%= f.submit 'Benuter speichern'%>
  </p>
<% end %>